<link rel="import" href="bower_components/polymer/polymer-element.html">
<script type="text/javascript" src="XMLMaker.js"></script>

<dom-module id="adb-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <select name="server" value="{{selectedServer}}">
      <template is="dom-repeat" items="[[servers]]">
        <option value="[[item.value]]">[[item.name]]</option>
      </template>
    </select>
    <button on-click="handleClick">Generate</button>
  </template>

  <script>
    /**
     * adb-element`
     * Generate a complete address book
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ADBElement extends Polymer.Element {
      static get is() { return 'adb-element'; }

      static get properties() {
        return {
          servers: {
            type: Array,
            value: [
              { name: 'display 1', value: 'strValue1' },
              { name: 'display 2', value: 'strValue2' },
              { name: 'display 3', value: 'strValue3' }
            ]
          },
          selectedServer: {
            type: String,
            value: null
          }
        };
      }

      ready () {
        this.selectedServer = this.servers[0];
      }

      handleClick() {
        this.fechLecterns();
      }

      fetchLecterns() {

      }
    }

    window.customElements.define(ADBElement.is, ADBElement);
  </script>
</dom-module>
